body
{
 background: url("../images/gym.jpeg") no-repeat center center fixed;
 background-size: cover;
 font-family: 'Dancing Script', cursive;
}


div
{
    background-color: #dd4814;
    width: 50%;
    margin: 100px auto;
    text-align: center;
    border-radius: 25px;
    opacity: 0.8;
}
button
{
    background: gray;
    padding: 20px;
    color:black;
    font-size: 2em;
    border-radius: 10px;
}

h1
{
    font-size: 4em;
}
p
{
    font-size: 2em;
}
i
{
    font-size: 1em;
    color: aliceblue;
}